@font-face {
  font-family: 'Airbnb Cereal App Book';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Light';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Light'), url('AirbnbCerealLight.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Medium'), url('AirbnbCerealMedium.woff') format('woff');
}

body {
  font-family: 'Airbnb Cereal App Light';
  margin: 10px 15% 0 15%;
}

hr {
  font-size: 40px;
  border: .001em solid rgb(230, 230, 230);
}

.loc-title {
  font-family: 'Airbnb Cereal App Medium';
  margin-top: 30px;
  margin-bottom: 25px;
}

#wrapper {
  position: relative;
}

#wrapper #map {
  height: 500px;
  max-width: none !important;
}

.gm-bundled-control div {
  border-radius: 8px !important;
}

.loc-notice, .sel-transit {
  position: absolute;
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
}

.loc-notice {
  top: 430px;
  left: 34%;
  height: 40px;
  width: 280px;
  font-family: 'Airbnb cereal App Book';
  font-size: 14px;
  text-align: center;
  padding-top: 8px;
}

.sel-transit {
  top: 10px;
  left: 75%;
  height: 30px;
  width: 140px;
  font-family: 'Airbnb cereal App Book';
  font-size: 17px;
  padding-top: 5px;
  padding-left: 5px;
}

#transit {
  zoom: 1.5;
  cursor: pointer;
}

#public-transit {
  display: inline-block;
  margin-left: 5px;
  vertical-align: 3px;
  cursor: pointer;
}

.sel-transit:hover {
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}

.loc-notice-modal {
  top: 780px;
  left: 51%;
}

.sel-transit-modal {
  top: 78px;
  left: 81%;
}

button {
  margin: 0 0 20px 0;
  background-color: white;
  border: 1px solid black;

  border-radius: 10px;
  font-family: 'Airbnb Cereal App Medium';
  padding: 10px 18px 10px 18px;
  font-size: 16px;
  outline: none !important;
}

button:hover {
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}

#loc-overlay button {
  border: 1px solid white;
  padding: 0;
  font-size: 25px;
  height: 30px;
  width: 30px;
  font-family: 'Airbnbn Cereal App Light';
  border-radius: 50px;
}

#loc-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#loc-info h1 {
  font-family: 'Airbnb Cereal App Medium';
  margin-top: -5px;
}

#loc-info #map {
  height: 100%;
  width: fill;
}

#loc-desc {
  margin-right: 50px;
}

#host-img {
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 50%;
}

#host-bar-info {
  margin-top: 20px;
  margin-left: 15px;
  vertical-align: -75%;
}

#host-name {
  font-family: 'Airbnb Cereal App Medium';
  font-size: 22px;
}

#host-join {
  font-size: 14px;
  color:  rgb(100, 100, 100);
}

#host-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#host-data {
  margin-bottom: -10px;
}

#reviews, #verified {
  display: inline-flex;
  margin-left: 10px;
  margin-right: 15px;
  vertical-align: 23%;
}

#host-desc {
  margin-right: 50px;
}

a {
  font-family: 'Airbnb cereal App Medium';
  font-size: 16px;
  color: black;
  text-decoration: underline;
}

#host-desc a:hover {
  cursor: pointer;
  color: black;
}

#prot-warning {
  margin-left: 12px;
  display: inline-block;
  font-size: 14px;
  width: 300px;
  vertical-align: -72%;
}

#toKnow-title {
  font-family: 'Airbnb Cereal App Medium';
  font-size: 22px;
}

#toKnow-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.Know-subtitle {
  font-family: 'Airbnb Cereal App Medium';
  font-size: 16px;
  margin-bottom: 20px;
}

.rule {
  margin-bottom: 5px;
}

.rule svg {
  margin-right: 10px;
  height: 20px;
}

.rule-line {
  display: inline-flex;
  width: 240px;
}
.fas {
  margin-right: 17px;
}

.rule img {
  height: 25px;
  width: 25px;
  margin-right: 10px;
}

a svg {
  display: flex;
  margin-top: 10px;
  vertical-align: -7px;
}

#close-modal {
  margin-top: 7px;
  margin-left: 7px;
}

.modal-content {
  border-radius: 15px;
}

#close-modal {
  height: 40px;
}

#close-modal button {
  border: 1px solid white;
  border-radius: 50%;
  width: 40px;
  height: 40px;
}

button svg {
  margin-left: -9px;
}

.modal-title {
  font-family: 'Airbnb Cereal App Medium';
  margin-bottom: 10px;
}

#modal-subtitle {
  margin-top: 10px;
  margin-bottom: 15px;
  font-family: 'Airbnb Cereal App Medium';
  font-size: 18px;
}

.loc-modal {
  width: 100vw;
  max-width: 100vw;
  margin-top: -1%;
  margin-bottom: -25px;
}

.loc-modal .modal-content {
  border-radius: 0% !important;
}