@font-face {
  font-family: 'Airbnb Cereal App Book';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Book'), url('AirbnbCerealBook.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Light';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Light'), url('AirbnbCerealLight.woff') format('woff');
}

@font-face {
  font-family: 'Airbnb Cereal App Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Airbnb Cereal App Medium'), url('AirbnbCerealMedium.woff') format('woff');
}

body {
  font-family: 'Airbnb Cereal App Light';
  margin: 10px 150px 0 150px;
}

hr {
  font-size: 40px;
}

.loc-title {
  font-family: 'Airbnb Cereal App Book';
  margin-top: 30px;
}

#wrapper {
  position: relative;
}

#wrapper #map {
  height: 500px;
  max-width: none !important;
}

.gm-bundled-control div {
  border-radius: 8px !important;
}

#loc-notice, #sel-transit {
  position: absolute;
  border: 1px solid white;
  border-radius: 8px;
  background-color: white;
}

#loc-notice {
  top: 430px;
  left: 37%;
  height: 30px;
  width: 280px;
  font-family: 'Airbnb cereal App Book';
  font-size: 14px;
  text-align: center;
  padding-top: 10px;
}

#sel-transit {
  top: 10px;
  left: 80%;
  height: 30px;
  width: 130px;
  font-family: 'Airbnb cerea App Medium';
  font-size: 17px;
  padding-top: 5px;
}

#transit {
  zoom: 1.5;
}

#sel-transit:hover {
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}

button {
  margin: 0 0 20px 0;
  background-color: white;
  padding: 12px;
  border: 1px solid black;

  border-radius: 10px;
  font-family: 'Airbnb Cereal App Medium';
  font-size: 16px;
  outline: none;
}

button:hover {
  background-color: rgb(245, 243, 243);
  cursor: pointer;
}

#loc-overlay {
  margin: 0 -120px 0 -120px;
}

#loc-overlay button {
  border: 1px solid white;
  padding: 0;
  font-size: 25px;
  height: 30px;
  width: 30px;
  font-family: 'Airbnbn Cereal App Light';
  border-radius: 50px;
}

#loc-info {
  display: grid;
  grid-template-columns: 1fr 3fr;
}

#loc-info h1 {
  font-family: 'Airbnb Cereal App Medium';
  margin-top: -5px;
}

#loc-info #map {
  height: 100%;
  width: fill;
}

#loc-desc {
  margin-right: 50px;
}

img {
  height: 70px;
  width: 70px;
  border: 1px solid white;
  border-radius: 50%;
}

#host-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

#reviews, #verified {
  display: inline-block;
}

#verified {
  margin-left: 50px;
}

#host-desc {
  margin-right: 50px;
}

a {
  font-family: 'Airbnb cereal App Medium';
  font-size: 16px;
  color: black;
}

#host-desc a:hover {
  cursor: pointer;
}

#host-contact li {
  font-size: 14px;
  width: 300px;
}
